/* ---------------------- Блок "Окрестности базы" (outside) ---------------------- */

.map-block {
    height: 1000px;
    border: 2px solid #1b1b1b;
}

.map-block svg {
    height: 1000px;
}

/* Иконки i объектов */

.base-info-icon {
    top: 230px;
    left: 457px;
}

.arena-info-icon {
    top: 442px;
    left: 499px;
}

.arena-barrier-info-icon {
    top: 640px;
    left: 569px;
}

.tir-info-icon {
    top: 640px;
    left: 862px;
}

/* ----- Информация по объектам ----- */
/* Объекты (блоки текста и заголовок) */

.arena-barrier-info .item-name {
    border-left: 2px solid transparent;
}

.base-info {
    width: 350px;
    /*height: 200px;*/
}

.arena-info {
    width: 180px;
    /*height: 90px;*/
    padding-top: 45px;
    padding-bottom: 15px;
}

.arena-barrier-info {
    width: 160px;
    /*height: 150px;*/
    padding-top: 65px;
    padding-bottom: 15px;
}

.tir-info {
    width: 250px;
    /*height: 100px;*/
    padding-top: 45px;
    padding-bottom: 15px;
}