/* ----- Подсписок на странице "Персонажи" ----- */

.submenu-list {
    width: 87%;
    list-style-type: none;
    padding-left: 2px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 8px;
    justify-content: center;
}

.submenu-list li {
    display: inline-block;
}

.submenu-list a {
    display: inline-block;
    text-decoration: none;
    height: 20px;
    padding: 8px 20px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 2px;
    text-align: center;
    font-family: 'Noto Sans Regular';
    font-size: 16px;
    font-weight: bold;
    background-color: white;
}

/* Карточки */

.cards-block {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    column-gap: 15px;
    row-gap: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards-block p {
    font-size: 15px;
}

.card {
    width: 20%;
    height: auto;
    padding: 20px;
    border: 1px solid rgb(190, 190, 190);
}

.card .character-photo {
    margin: 0 auto;
    width: 100%;
}

.character-photo img {
    width: 100%;
}

.name-ru,
.name-en {
    text-align: center;
    margin-bottom: 5px;
}

.name-en {
    margin-top: 0;
    margin-bottom: 20px;
}

