/*@font-face {
    font-family: 'Transformers';
    src: url(../fonts/Transformers_Movie.ttf);
}*/

main {
    flex: 1;
    margin-bottom: 30px;
}

.submenu {
    position: relative;
}

.unpinned-submenu.submenu-disabled-icon:hover {
    cursor: not-allowed;
}

.up-btn {
    bottom: 10px;
    margin-left: 15px;
}

/* Закрепленное бургер-меню (без закрепления панели объектов*/

.bm-fixed-done {
    width: auto;
}

.bm-fixed-done .burgermenu-btn-open-shown {
    padding: 15px;
    background-color: white;
    border-radius: 0 0 7px 0;
}

/* ----- Подсписок на странице "Персонажи" ----- */

.submenu-list{
    width: 87%;
    list-style-type: none;
    padding-left: 2px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 12px;
    justify-content: center;
    align-items: center;
}

.submenu-list li{
    display: inline-block;
}

.submenu-list a {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    text-decoration: none;
    height: 30px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 2px;
    text-align: center;
    font-family: 'Noto Sans Regular';
    font-size: 16px;
    font-weight: bold;
    background-color: white;
}

.submenu-list a:hover {
    cursor: pointer;
}

.submenu-list-fractions a {
    padding: 12px 18px;
}

.submenu-list-universe a {
    padding: 4px 14px;
}

.submenu-universe-block {
    display: grid;
    grid-template-areas: "title list";
    grid-template-columns: 20% auto;
    grid-template-rows: 100%;
    /*column-gap: 20px;*/
    width: 60%;
    margin: 0 auto;
}

.submenu-universe-block p {
    grid-area: title;
    text-align: right;
}

.submenu-universe-block .submenu-list {
    grid-area: list;
    justify-content: left;
}

.submenu-list .selected-list-item {
    border: 1px solid black;
    background-color: rgb(239, 239, 239);
}

.submenu-list .selected-list-item:hover {
    cursor: not-allowed;
}

.submenu-list-universe .disabled-universe-links {
    color: grey;
}

.submenu-list-universe .disabled-universe-links:hover {
    cursor: not-allowed;
}

/* Карточки */

.cards-block {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    column-gap: 1.5%;
    row-gap: 20px;
    flex-wrap: wrap;
}

.cards-block p {
    font-size: 15px;
}

.card {
    position: relative;
    width: 20%;
    height: auto;
    padding: 20px;
    border: 1px solid rgb(190, 190, 190);
}

.card p:last-of-type {
    margin-bottom: 0;
}

.card .fraction-icon {
    position: absolute;
    top: 4px;
    right: 2px;
}

.card .character-photo {
    margin: 0 auto;
    width: 100%;
}

.character-photo img {
    width: 100%;
}

.name-ru,
.name-en {
    text-align: center;
    margin-bottom: 5px;
}

.name-en {
    margin-top: 0;
    margin-bottom: 20px;
}

.brief-info-block {
    display: flex;
    column-gap: 10px;
    margin-left: auto;
    margin-top: 5px;
}

.brief-info-block p {
    border: 1px solid rgb(190, 190, 190);
    margin: 0 auto;
    /*font-family: Transformers;*/
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(125, 125, 125);
    padding: 2px 7px;
    text-align: center;
}

/* Предупреждение (сообщение) */

.cards-block .message-fraction,
.cards-block .message-universe {
    margin: 0 auto;
    padding: 20px 0;
    font-size: 20px;
    color: #B90410;
}

/* --------------- Media Queries ----------------- */

@media screen and (max-width: 1345px) {
    .cards-block {
        column-gap: 1.2%;
    }
}

@media screen and (max-width: 1270px) {
    .cards-block {
        width: 88%;
    }
}

@media screen and (max-width: 1155px) {
    .card {
        width: 27%;
    }
    .cards-block {
        column-gap: 3%;
        row-gap: 30px;
    }
    .up-btn {
        margin-left: 5px;
    }
}

@media screen and (max-width: 1095px) {
    .card {
        width: 27%;
    }
    .cards-block {
        column-gap: 2%;
        row-gap: 20px;
    }
}