/* ----- Подсписок на странице "Персонажи" ----- */

.submenu-list {
    width: 87%;
    list-style-type: none;
    padding-left: 2px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 8px;
    justify-content: center;
}

.submenu-list li {
    display: inline-block;
}

.submenu-list a {
    display: inline-block;
    text-decoration: none;
    height: 20px;
    padding: 8px 20px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 2px;
    text-align: center;
    font-family: 'Noto Sans Regular';
    font-size: 16px;
    font-weight: bold;
    background-color: white;
}