@font-face {
    font-family: 'JotiOne-circle';
    src: url(../fonts/JotiOne-Regular.ttf);
}

/* ---------------------- Блок "База: уровень 2"---------------------- */
/*
Общий зал:
    #bar - Бар
    #balcony - Балкон

Мед.блок:
    #sanitary-processing - Сектор сан.обработки
    #med-sector - Мед.отсек
    #sanitary-sector - Сан.отсек
    #staffroom - Ординаторская
    #consulting-room - Кабинет глав.врача
    #med-isolator - Мед.изолятор

Жилой блок:
#all-sanitary-sector - Сан.отсеки

  Жилые отсеки:
    #liv-sector-1 - 1 отсек
    #liv-sector-2
    #liv-sector-3
    #liv-sector-4
    #liv-sector-5
    #liv-sector-6
    #liv-sector-7
    #liv-sector-8
    #liv-sector-9
    #liv-sector-10
    #liv-sector-11
*/

.submenu {
    position: relative;
}

.submenu-switch-btn {
    right: 1.5em;
}

.unpinned-submenu.submenu-disabled-icon:hover {
    cursor: not-allowed;
}

.location-block  {
    display: grid;
    grid-template-columns: 15% auto;
    column-gap: 10px;
}

.location-list {
    margin-left: 10px;
}

.lvl2-location-title {
    align-self: center;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: auto 25%;
}

.sign-block.lvl2-sign-block {
    display: inline;
    justify-self: end;
    align-self: center;
    width: auto;
    margin: 0;
    position: static;
}

.lvl2-sign-block .signs-icon {
    display: inline;
    height: auto;
    padding: 0;
}
.lvl2-sign-block .signs-icon img {
    position: static;
}
.lvl2-sign-block .signs-image {
    right: auto;
}

.signs-image[data-block="general"] img {
    width: 310px;
}

/* Закрепленное бургер-меню (без закрепления панели объектов*/
.bm-fixed-done {
    width: auto;
}

.bm-fixed-done .burgermenu-btn-open-shown {
    padding: 15px;
    background-color: white;
    border-radius: 0 0 7px 0;
}

/* Общий зал */
.main-zone {
    grid-template-areas: "main-zone-title main-zone-list";
    margin-top: 10px;
    grid-template-rows: 100%;
}
.main-zone-title {
    grid-area: main-zone-title;
    grid-template-areas: "m-z-title m-z-signs";
}
.main-zone-list {
    grid-area: main-zone-list;
}
.m-z-title {
    grid-area: m-z-title;
}
.main-zone-signs {
    grid-area: m-z-signs;
}
.main-zone-signs .signs-image {
    top: 14px;
    left: 112px;
}

/* Мед.отсек */
.medical-block {
    grid-template-areas: "medical-block-title medical-block-list";
    grid-template-rows: 100%;
}
.medical-block-title {
    grid-area: medical-block-title;
    grid-template-areas: "m-b-title m-b-signs";
}
.medical-block-list {
    grid-area: medical-block-list;
}
.m-b-title {
    grid-area: m-b-title;
}
.medical-block-signs {
    grid-area: m-b-signs;
}
.medical-block-signs .signs-image {
    top: 97px;
    left: 112px;
}

/* Жилой блок */
.living-block {
    grid-template-areas: 
        "living-block-title living-others-list"
        "... living-sectors";
    grid-template-rows: auto;
}
.living-block-title {
    grid-area: living-block-title;
    grid-template-areas: "l-b-title l-b-signs";
}
.l-b-title {
    grid-area: l-b-title;
}
.living-block-signs {
    grid-area: l-b-signs;
}
.living-block-signs .signs-image {
    top: 179px;
    left: 112px;
}
.living-others-list {
    grid-area: living-others-list;
}
.living-sectors {
    grid-area: living-sectors;
    display: grid;
    grid-template-areas: "l-s-title l-list-s";
    grid-template-rows: auto;
    grid-template-columns: 15% auto;
}
.living-sectors-title {
    grid-area: l-s-title;
    margin-left: 10px;
    align-self: center;
}
.living-list-sectors {
    grid-area: l-list-s;
}
.location-list.living-list-sectors a {
    padding: 8px 15px;
}

.signs-image img {
    width: 350px;
}

.living-block-signs .signs-image img {
    width: 250px;
}

.medical-block-signs .signs-image img {
    width: 700px;
}

.map-block {
    height: 600px;
    border: 2px solid transparent;
}

.map-block svg {
    height: 600px;
}


/* Иконки i объектов */

/* Общий зал*/
.bar-info-icon {
    top: 188px;
    left: 398px;
}

.balcony-info-icon {
    top: 2px;
    left: 529px;
}

/* Мед.блок */
.sanitary-processing-info-icon {
    top: 241px;
    left: 364px;
}

.med-sector-info-icon {
    top: 342px;
    left: 212px;
}

.sanitary-sector-info-icon {
    top: 313px;
    left: 414px;
}

.staffroom-info-icon {
    top: 390px;
    left: 331px;
}

.consulting-room-info-icon {
    top: 319px;
    left: 32px;
}

.med-isolator-info-icon {
    top: 107px;
    left: 194px;
}

/* Жилой блок, жилые отсеки */
.all-sanitary-sector-info-icon {
    top: 388px;
    left: 606px;
}

/* Иконки с номером */
.liv-sector-circle {
    display: none;
    align-items: center;
    justify-items: center;
    width: 27px;
    height: 27px;
    position: absolute;
    z-index: 10;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
    font-size: 19px;
    font-family: "JotiOne-circle";
}

.shown-liv-sector-circle {
    display: flex;
}

.liv-sector-circle p {
    margin: 0 auto;
}

.l-s-1-circle {
    top: 426px;
    left: 719px;
}
.l-s-2-circle {
    top: 380px;
    left: 840px;
}
.l-s-3-circle {
    top: 278px;
    left: 840px;
}
.l-s-4-circle {
    top: 191px;
    left: 677px;
}
.l-s-5-circle {
    top: 191px;
    left: 768px;
}
.l-s-6-circle {
    top: 52px;
    left: 672px;
}
.l-s-7-circle {
    top: 52px;
    left: 758px;
}
.l-s-8-circle {
    top: 52px;
    left: 811px;
}
.l-s-9-circle {
    top: 52px;
    left: 869px;
}
.l-s-10-circle {
    top: 53px;
    left: 930px;
}
.l-s-11-circle {
    top: 203px;
    left: 906px;
}

/* ----- Информация по объектам ----- */
/* Объекты (блоки текста и заголовок) */
.bar-info {
    width: 260px;
    padding-top: 45px;
    padding-bottom: 10px;
}

.balcony-info {
    width: 260px;
    padding-top: 45px;
    padding-bottom: 10px;
}

.sanitary-processing-info {
    width: 210px;
    padding-top: 45px;
    padding-bottom: 10px;
}

.sanitary-processing-info .item-name {
    border-left: 2px solid transparent;
    right: 5px;
    padding: 8px 7px;
}

.med-sector-info {
    width: 450px;
    padding-top: 45px;
    padding-bottom: 10px;
}

.sanitary-sector-info {
    width: 190px;
    padding-top: 45px;
    padding-bottom: 10px;
}

.staffroom-info {
    width: 230px;
    padding-top: 45px;
    padding-bottom: 10px;
}

.consulting-room-info {
    width: 180px;
    padding-top: 45px;
    padding-bottom: 10px;
}

.consulting-room-info .item-name {
    border-left: 2px solid transparent;
    right: 5px;
    padding: 8px 7px;
}

.med-isolator-info {
    width: 210px;
    padding-top: 45px;
    padding-bottom: 10px;
}

.all-sanitary-sector-info {
    width: 210px;
    padding-top: 45px;
    padding-bottom: 10px;
}

/* --------------- Media Queries ----------------- */

@media screen and (max-width: 1130px) {
    .general-info,
    .help-block,
    .submenu {
        width: 940px;
    }
}

@media screen and (max-width: 1070px) {
    .general-info {
        width: 850px;
        margin: 0 auto;
    }
    .help-block {
        width: 850px;
        margin: 0 auto;
    }
    .submenu {
        width: 850px;
    }
}