/* ---------------------- Блок "База: уровень 1"---------------------- */
/*
    #medical-box - Набор самопомощи
    #exit - Выход для летных
*/

.signs-image img {
    width: 300px;
}

.map-block {
    height: 600px;
    border: 2px solid transparent;
}

.map-block svg {
    height: 600px;
}

/* Иконки i объектов */

.medical-box-info-icon {
    top: 175px;
    left: 658px;
}

.exit-info-icon {
    top: 223px;
    left: 792px;
}

/* ----- Информация по объектам ----- */
/* Объекты (блоки текста и заголовок) */

.medical-box-info {
    width: 440px;
    padding-top: 40px;
    padding-bottom: 10px;
}

.exit-info {
    width: 170px;
    padding-top: 45px;
    padding-bottom: 10px;
}

.exit-info .item-name {
    border-left: 2px solid transparent;
    right: 5px;
    padding: 8px 7px;
}