@font-face {
    font-family: 'Spectral Bold';
    src: url(../fonts/spectral_bold.ttf);
}

@font-face {
    font-family: 'Noto Sans Regular';
    src: url(../fonts/notoSans_regular.ttf);
}

/* ----------- Общие ----------- */

.container {
    display: flex; 
    flex-direction: column; /*выстраиваем элементы сверху вниз*/
    min-height: 100vh; /*отображаем блок на весь экран*/
} 

main {
    flex: 1;
    /*margin-bottom: 30px;*/
}

footer {
    padding: 30px;
    text-align: center;
}

/* ----------- Шапка, Меню ----------- */

ul {
    padding-left: 30px;
}

.nav {
    padding: 30px;
    display: block;
    text-align: center;
    margin: 0;
}

.nav li {
    display: inline-block;
    margin-top: 5px;
}

.nav a {
    display: inline-block;
    width: 130px;
    padding: 10px;
    background-color: rgb(21, 21, 21);
    text-decoration: none;
    border-radius: 2px;
    color: white;
    text-align: center;
    font-family: 'Noto Sans Regular';
    font-size: 14px;
    border: 1px solid rgb(21, 21, 21); /*при наведении кнопки не скачут*/
}

.active a {
    background-color: white;
    color: black;
    border: 1px solid black;
}

/* Разработанные блоки */
.developed a:hover{
    background-color: #505050;
    border: 1px solid transparent; /*при наведении кнопки не скачут*/
    color: white;
}

/* Пока недоступные (неразработанные) блоки */
.disabled a {
    background-color: rgb(204, 203, 203);
    color: rgb(113, 113, 113);
    border: 1px solid rgb(204, 203, 203);
}

.nav .disabled a:hover {
    cursor: not-allowed;
}

/* ----------- Текст ----------- */

body {
    font-family: "Noto Sans Regular", sans-serif;
}

h1 {
    text-align: center;
    font-family: "Spectral Bold", serif;
}

.help-text {
    margin-bottom: 8px;
    text-align: center;
    font-size: 14px;
}

/* ----------- Условные обозначения, иконка ----------- */

.sign-block {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.signs-icon {
    padding: 7px 7px 0 0;
    position: relative;
    height: 40px;
}

.signs-icon img {
    position: absolute;
    top: 7px;
    right: 7px;
}

.signs-icon img:nth-of-type(1) { /* Иконка открытия*/
    display: block;
    z-index: 9990;
}

.signs-icon img:nth-of-type(2) { /* Иконка закрытия*/
    display: none;
    z-index: -1;
}

.signs-outside-image {
    display: none;
    padding-top: 35px;
    position: absolute;
    z-index: 999;
    top: 0;
    right: -2px;
    border: 2px solid #1b1b1b;
    background-color: white;
}

.signs-outside-image img {
    width: 300px;
    
}

.signs-icon img:hover {
    cursor: pointer;
}

.shown-signs {
    display: block;
}

/* ----------- Блок "Окрестности базы" ----------- */

/* Иконки объектов */

.base-info-icon {
    position: absolute;
    top: 230px;
    left: 457px;
}

.arena-info-icon {
    position: absolute;
    top: 442px;
    left: 499px;
}

.arena-bar-info-icon {
    position: absolute;
    top: 640px;
    left: 569px;
}

.tir-info-icon {
    position: absolute;
    top: 640px;
    left: 862px;
}

/* Блок */

.outside-block {
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    position: relative;
    border: 2px solid #1b1b1b;
}

.outside-block svg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1000px;
    height: 1000px;
}

.outside-block polygon {
    fill: rgba(70, 70, 70, 0);
    cursor: pointer;
}

/* Информация по объектам - общая */

.outside-item {
    position: absolute;
    display: none;
}

.shown-outside-item {
    display: block;
}

.outside-item-name {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    line-height: 20px;
    margin-bottom: 10px;
    border-left: 2px solid #1b1b1b;
    border-bottom: 2px solid #1b1b1b;
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px 15px;
}

.arena-barrier-info .outside-item-name {
    border-left: 2px solid transparent;
}

.outside-item-info {
    border: 2px solid #1b1b1b;
    padding: 10px;
    position: absolute;
    font-size: 16px;
    line-height: 18px;
    background-color: #fff;
    z-index: 99;
    box-shadow: 0 0 15px rgba(35, 35, 35, 0.69);
    text-align: left;
}

/* Объекты */

.base-info {
    width: 320px;
    /*height: 200px;*/
}

.arena-info {
    width: 180px;
    /*height: 90px;*/
    padding-top: 45px;
    padding-bottom: 15px;
}

.arena-barrier-info {
    width: 160px;
    /*height: 150px;*/
    padding-top: 65px;
    padding-bottom: 15px;
}

.tir-info {
    width: 250px;
    /*height: 100px;*/
    padding-top: 45px;
    padding-bottom: 15px;
}

/* ----------- Эффекты при наведении на объект ----------- */

.outside-block polygon:hover,
#hover {
    fill: rgba(163, 216, 237, 0.188);
}